body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e3;
    margin: 20px;
}

h1 {
    color: #e3ece3;
}
h2 {
    color: #2e7d32;
}

a {
    text-decoration: none;
    color: #1b5e20;
    font-weight: bold;
    margin-right: 10px;
}

a:hover {
    color: #388e3c;
}

hr {
    margin: 20px 0;
}

ul {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
}
.header {
    background-color: #687d2e;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.nav {
    background-color: #c8e6c9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.nav a {
    margin-right: 15px;
}

.content {
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #555;
}
button {
    background-color: #2e7d32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1b5e20;
}
.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #e8f5e9;
    border-radius: 12px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}
.product-card img {
    width: 30%;
    height: 540px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}


.mission-section {
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    background-color: #f1f8e9;
    border-radius: 12px;
}

.values-section {
    margin-top: 40px;
}

.values-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.values {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.value-card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}
